<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <servers>
        <server>
            <id>exchange-repository</id>
            <username>kancharlanaga</username>
            <password>Susmitha@123</password>
        </server>
        <server>
            <id>exchange-repository</id>
            <username>kancharlanaga</username>
            <password>Susmitha@123</password>
        </server>
        <server>
            <id>mulesoft-releases</id>
            <username>kancharlanaga</username>
            <password>Susmitha@123</password>
        </server>
    </servers>
</settings>
